<hr/>
<div>
    <sub>note: The EuRIS database does not contain detailed information about this object</sub>
</div>
<hr/>
<div>
    <p>{{#if entity.routeName}}{{entity.routeName}}, {{/if}}km {{divide (toInt entity.hectom) 10}}</p>
</div>
{{#if noticesToSkippers}}
<div>
    {{#eachIndex noticesToSkippers}}
        <hr/>
        <h4>Notice to skippers {{plus index 1}}</h4>    
        {{> noticeToSkippers item }}
    {{/eachIndex}}
</div>
{{/if}}
{{#if operatingTimes}}
<hr/>
<div>
    <h4>Operating times today</h4>
    {{#each operatingTimes}}
        <p>
            {{> operatingTime this }}
        </p>
    {{/each}}
</div>
{{/if}}
{{> footer}}
{{> disclaimer}}